@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Lexend', sans-serif;
    color: #EAE3D7;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    color-scheme: dark;
}

body {
    background-color: #2E2B1F;
}

.fade-in-anim span {
    opacity: 0;
    animation: fade-in 0.2s forwards;
}

.fade-in-anim span:nth-child(1) { animation-delay: 0.1s; }
.fade-in-anim span:nth-child(2) { animation-delay: 0.2s; }
.fade-in-anim span:nth-child(3) { animation-delay: 0.3s; }
.fade-in-anim span:nth-child(4) { animation-delay: 0.4s; }


@keyframes fade-in {
    to {
        opacity: 1;
    }
}

/* .bg-david-front {
    background-image: url('/images/bg4.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    isolation: isolate;
}

.bg-david-back {
    background-image: url('/images/bg3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    isolation: isolate;
}

.bg-opacity::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: linear-gradient(30deg, #5a5442, #737c47);
    opacity: 0.5;
    border: 0;
    border-radius: 1.5rem;
}

.bg-opacity-darker::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: linear-gradient(30deg, #5a5442, #737c47);
    opacity: 0.6;
    border: 0;
    border-radius: 1.5rem;
} */